.wrapper {
    box-sizing: border-box;
    padding: 0.5rem 0.9rem 0.5rem 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #e1e9fc;
    transition: border-color .2s ease;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
}

.wrapper:hover {
    border-color: #007aff;
}

.heading {
    font-size: 1.1rem;
    font-weight: 600;
    color: #545a66;
}

.priceBar {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem
}

.priceTitle {
    line-height: 140%;
    color: #a6acb4;
    font-weight: 400;
}

.price {
    line-height: 140%;
    background: linear-gradient(90deg, #2F7EEB 0%, #18BEE7 100%), #545A66;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.photos {
    display: flex;
}

.photoBorder,
.counter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #e3e9fc;
}

.counter {
    color: #a6acb4;
    background-color: #F0F4FC;
}

.photo {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: white;
}