.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0f4fc;
}


.wrapper {
    width: 80%;
}

.heading {
    margin: 3rem 0 3rem 0;
    text-align: left;
}

.contentWrapper {
    padding: 2rem 3rem 5rem 3rem;
    background-color: white;
    border-radius: 0.7rem;
}