.wrapper {
    padding: 1rem 0 0 1rem;
}

.next {
    margin-top: 3rem;
}

.button {
    width: 12.5rem;
}

@media (max-width: 520px) {
    .wrapper {
        padding: 1.5rem 0;
    }

    .next {
        display: flex;
        justify-content: center;
    }

    .button {
        width: 30rem;
    }
}