.wrapper {
    padding: 1rem 0 0 1rem;
    position: relative;
}

.next {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 12.5rem;
}

.homeMobile {
    display: none;
    position: absolute;
    bottom: -5.75rem;
    right: 0;
}

@media (max-width: 520px) {
    .wrapper {
        padding: 1.5rem 0;
    }

    .next {
        display: flex;
        justify-content: center;
    }

    .button {
        width: 30rem;
    }

    .home {
        display: none;
    }

    .homeMobile {
        display: block;
    }
}