.circle {
    border-radius: 50%;
    min-width: 2rem;
    height: 2rem;
    margin: 0 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.done {
    background-color: #288DE6;
}

.active {
    background-color: #01EEC8;
}

.empty {
    background-color: #CED4E0;
}