* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body,
#root {
  width: 100%;
}

body,
#root {
  min-height: 100vh;
}

.slick-list {
  overflow: visible !important;
}

.slick-slide>div {
  margin: 0 0.6rem;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/Fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Light';
  src: url('./assets/Fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('./assets/Fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Thin';
  src: url('./assets/Fonts/Lato/Lato-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
}


#CheckedLinearGradient {
  background: linear-gradient(to right, #5C58F2, #2FC5EE) !important;
}