.wrapper {
    box-sizing: border-box;
    padding: 1.1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 1.7rem;
    cursor: pointer;
    /* Disable selection */
    -moz-user-select: none;
    /* firefox */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE*/
    user-select: none;
    /* Standard syntax */
}

.empty {
    border: 1px solid #e1e9fc;
}

.empty:not(.notAllowed):hover {
    border: 1px solid #5b83db;
}

.active {
    background: linear-gradient(90deg, #01EEC8 0%, #2F7EEB 100%);
    color: #fff;
}

.active:not(.notAllowed):hover {
    background: #2F7EEB;
}

.done {
    background: linear-gradient(57deg, rgb(47, 126, 235) 0%, rgb(24, 190, 231) 100%);
    color: #fff;
}

.notAllowed {
    opacity: 0.2;
    cursor: not-allowed !important;
}

@media (max-width: 1000px) {
    .btn {
        width: auto;
        max-width: 10rem;
        min-width: 7rem;
    }
}