.textArea {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #545a66;
    border: 1px solid #E3E9FC;
    border-radius: 0.3rem;
    width: 100%;
    padding: 0.7rem 0.55rem;
    overflow-y: auto;
    resize: none;
}

.textArea:focus {
    border-color: #007aff;
    outline: none;
}

.textArea::placeholder {
    color: #b5b8bd;
}