.wrapper {
    background-color: #F2F4F9;
}

.introBlock {
    position: relative;
    overflow: hidden;
}

.mediaBlock {
    height: 51rem;
}

.video,
.img {
    min-width: 100%;
    height: 100%;
    min-height: 44rem;
}

.video {
    opacity: 0.13;
    object-fit: fill;
}

.img {
    object-fit: cover;
    display: none;
}

.headings {
    padding: 0 5%;
    position: absolute;
    bottom: 8rem;
}

.mainTitle,
.subTitle {
    font-family: 'Lato Light', 'sans-serif';
}

.mainTitle {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: #485052;
    margin-bottom: 3rem;
}

.subTitle {
    font-size: 2rem;
    line-height: 2rem;
    color: #9BA1AB;
    margin-bottom: 4rem;
}

.button {
    margin-top: 7.5rem;
}

.buttonAnchor {
    display: block;
    width: max-content;
}

.children {
    width: 74rem;
    margin: 0 auto;
}

.bottomBar {
    display: none;
}

@media (max-width: 1200px) {
    .img {
        display: block;
    }

    .video {
        display: none;
    }

    .children {
        width: 61rem;
    }

    .bottomBar {
        display: block;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 11;
        height: 2.5rem;
    }

    .bottomBar a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        white-space: pre;
        color: white;
        background: linear-gradient(90deg, #2f7eeb, #01eec8);
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-family: 'Lato Bold', 'sans-serif';
    }
}

@media (max-width: 1000px) {
    .children {
        width: 46rem;
    }
}

@media (max-width: 750px) {
    .button {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }

    .mainTitle,
    .subTitle {
        text-align: center;
    }

    .mainTitle {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .subTitle {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .children {
        width: 100%;
    }
}