.app {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0f4fc;
}

.heading {
    font-family: 'Lato Light', sans-serif;
    margin: 2rem 0 1.5rem 0;
    text-align: left;
    color: #545a66;
    font-weight: 100;
    font-size: 2.5rem;
}

.wrapper {
    width: calc(100% - 380px);
    margin-bottom: 3rem;
}

.contentWrapper {
    padding: 1rem 2.5rem 3.5rem 2.5rem;
    background-color: white;
    border-radius: 0.7rem;
}

@media (max-width: 1650px) {
    .wrapper {
        width: calc(100% - 280px);
    }
}

@media (max-width: 1400px) {
    .wrapper {
        width: calc(100% - 90px);
    }
}

@media (max-width: 1200px) {
    .wrapper {
        width: calc(100% - 60px);
    }
}

@media (max-width: 1000px) {
    .wrapper {
        width: calc(100% - 30px);
    }
}

@media (max-width: 500px) {
    .heading {
        display: none;
    }

    .contentWrapper {
        margin: 0;
        padding: 1rem 1rem;
    }

    .wrapper {
        width: 100%;
    }
}