.wrapper {
    position: relative;
    margin-bottom: 0.5rem;
}

.main,
.footer {
    display: flex;
}

.mainAuthenticated {
    flex-direction: column;
    align-items: center;
}

.summary {
    width: 25%;
    margin-right: 4rem;
}

.summaryAuthenticated {
    margin-bottom: 1rem;
    margin-right: 0;
}

.info {
    width: 30%;
}

.infoAuthenticated {
    width: 60%;
}

.footer {
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

.footerMobile {
    display: none;
    margin-bottom: 4.5rem;
}

.confirm,
.confirmMobile {
    width: 24rem;
    position: relative;
}

.loading {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.isLoading {
    display: flex;
}

.customLoadingSpinnerWrapper {
    position: static;
}

.customLoadingSpinner {
    height: 0rem;
}

.submitError,
.submitErrorMobile {
    display: none;
    color: #ae1f31;
    font-size: 0.9rem;
    margin-top: 1rem;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.submitErrorMobile {
    margin-top: 2rem;
}

.submitErrorShow {
    display: block;
}

.confirmMobile {
    margin-bottom: 2rem;
}

.back,
.home {
    position: absolute;
}

.back {
    left: 0;
}

.home {
    right: 0;
}

.heading {
    font-family: 'Lato Light', sans-serif;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 230%;
    letter-spacing: .07rem;
    text-transform: uppercase;
    color: #a6acb4;
}

@media (max-width: 1200px) {
    .summary {
        width: 40%;
    }
}

@media (max-width: 1000px) {
    .main {
        flex-direction: column;
        gap: 0rem;
    }

    .summary {
        width: 100%;
        margin-bottom: 2rem;
    }

    .info {
        width: 60%;
    }
}

@media (max-width: 700px) {
    .wrapper {
        margin-bottom: 0;
    }

    .footer {
        display: none;
    }

    .footerMobile {
        display: block;
        padding-bottom: 1rem;
    }

    .footerMobile>* {
        display: flex;
    }

    .info,
    .infoAuthenticated {
        width: 100%;
    }
}

@media (max-width: 300px) {

    .back,
    .home {
        scale: 0.7;
    }

    .back {
        left: -0.5rem;
    }

    .home {
        right: -1.2rem;
    }
}