.wrapper {
    position: relative;
}

.navHidden,
.navScrolling {
    position: fixed;
    top: 0;
    width: 100%;
    transition: opacity .1s ease-in;
}

.navHidden {
    z-index: -1;
    opacity: 0;
}

.navScrolling {
    z-index: 100;
    opacity: 1;
}