.docWrapper,
.specWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
    overflow-y: scroll;
    height: 33.625rem;
    padding-right: 0.7rem;
    padding-bottom: 0.1rem;
}

.docWrapper {
    grid-auto-rows: 12.5rem;
}

.specWrapper {
    grid-auto-rows: 10rem;
}

.docWrapperNotFound,
.specWrapperNotFound {
    display: block;
}

.notFound {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #545a66;
    font-weight: 600;
    font-size: 1.1rem;
}

@media (max-width: 1116px) {
    .docWrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1116px) {
    .specWrapper {
        grid-template-columns: 1fr;
    }
}