.docWrapper,
.specWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
    overflow-y: scroll;
    height: 538px;
    padding-right: 0.7rem;
}

.docWrapper {
    grid-auto-rows: 12.5rem;
}

.specWrapper {
    grid-auto-rows: 10rem;
}

@media (max-width: 1116px) {
    .docWrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1116px) {
    .specWrapper {
        grid-template-columns: 1fr;
    }
}