.wrapper,
.container,
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    min-height: 100vh;
    background-color: #f8f8f8;
    position: relative;
    z-index: 1;
}

.container {
    width: clamp(1rem, 100%, 22.5rem);
    position: relative;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, .1);
    background-color: white;
    border-radius: 0.4rem;
    padding: 1.5rem;
    /* margin-block: 6rem; */
    box-sizing: border-box;
}

.container::before,
.container::after {
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.container::before {
    content: '';
    background-image: url('src/assets/Pictogram/loginTopSvg.svg');
    width: 244px;
    height: 243px;
    top: -80px !important;
    left: -160px !important;
}

.container::after {
    content: '';
    background-image: url('src/assets/Pictogram/loginBotSvg.svg');
    width: 272px;
    height: 272px;
    bottom: -90px !important;
    right: -155px !important;
}

.content {
    width: 100%;
}

.heading {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #5e5873;
    letter-spacing: 0.075rem;
}

@media (max-width: 700px) {
    .container {
        margin-block: 0;
    }

    .container::before,
    .container::after {
        content: none;
    }
}