.wrapper {
    background-color: white;
    border-radius: 0.7rem;
    padding: 2rem 1.5rem;
    line-height: 1.3;
}

.mainBlock {
    font-size: 1.25rem;
}

.heading {
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.email {
    color: inherit;
    text-decoration: none;
}

.customBtnWrapper {
    border-radius: 100px;
    margin-top: 2rem;
    width: 9.5rem;
    height: 3rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: 'Lato Bold', 'sans-serif';
}

@media (max-width: 600px) {
    .wrapper {
        padding: 2rem 1rem;
    }
}