.mainBar {
    position: relative;
    width: 100%;
    height: 51rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.mainBarContent {
    position: absolute;
    z-index: 10;
    bottom: 0;
    padding-bottom: 5.5rem;
    width: 100%;
}

.mainHeading,
.aboutNumber,
.aboutInfo {
    text-align: center;
    font-weight: 300;
}

.mainHeading {
    font-size: 3.5rem;
    letter-spacing: -0.1rem;
    margin-bottom: 4rem;
}

.appointmentButton {
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: center;
}

.customBtnWrapper {
    width: 9.5rem;
    height: 3rem;
    text-transform: uppercase;
}

.aboutList {
    display: flex;
    justify-content: center;
}

.aboutList ul {
    width: clamp(45rem, 85%, 94.5rem);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.aboutNumber {
    font-size: 4rem;
    letter-spacing: -0.2rem;
    margin-bottom: 1.5rem;
}

.aboutInfo {
    font-size: 1.3rem;
}