.location {
    position: absolute;
    bottom: -1.5rem;
    z-index: 10000;
    color: #000;
    font-size: 0.8125rem;
}

.largeScreen {
    left: 1.5rem;
}

.smallScreen {
    left: 1rem;
}

.location,
.subLocation {
    display: flex;
}

.link {
    color: inherit;
}

.dash {
    white-space: pre;
}