.customBtnWrapper {
    border-radius: 100px;
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: 'Lato Bold', 'sans-serif';
}

.wrapper {
    width: 100%;
}