.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 2rem;
}

.options {
    height: 100%;
    padding-right: 2rem;
}

.searchBar {
    /* padding-bottom: 1.4rem; */
    height: 100%;
}