.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 2rem;
}

.options {
    height: 100%;
    padding-right: 1.5rem;
}

.searchBar {
    height: 100%;
}

@media (max-width: 1000px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 1rem;
    }

    .options {
        padding: 0;
    }

    .options,
    .searchBar {
        width: 100%;
        flex: 1;
    }

    .searchBar {
        min-height: 2rem;
    }
}