.wrapper {
    border: 1px solid #E3E9FC;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 25rem;
}

@media (max-width: 500px) {
    .wrapper {
        padding: 0;
        border: none;
        /* width: 100%; */
        min-width: 10rem;
    }
}