.wrapper {
    height: 100%;
    min-height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    box-sizing: border-box;
}

.searchInput {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    margin-left: 1rem;
    border: 0;
    color: inherit;
    border-radius: 0.5rem;
}

.searchInput::placeholder {
    opacity: 0.9;
    color: #545a6699;
}

.searchInput:focus {
    outline: none;
}

.blue {
    border: 1px solid #E3E9FC;
    border-radius: 0.5rem;
    color: #213043;
}

.black {
    border: 1px solid #d3d8e1;
    border-radius: 0.5rem;
    color: #757575;
}