.customBtnWrapper {
    border-radius: 2rem;
    width: 7.25rem;
    height: 2.55rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'Lato Bold', 'sans-serif';
}

.wrapper {
    background-color: white;
    color: #545a66;
    box-sizing: border-box;
    overflow-x: hidden;
}

.firstBar,
.smallFirstBar,
.largeRight,
.largeLeft {
    display: flex;
    align-items: center;
}

.largeRightMyProfile {
    display: flex;
    gap: 1rem;
}

.firstBar,
.smallFirstBar {
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid #f0f4fc;
}

.smallWindow {
    border-bottom: 1px solid #f0f4fc;
}

.secondBar,
.secondBarMyProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondBarMyProfile {
    gap: 0.75rem;
}

.secondBarMyProfile a {
    padding-top: 3px;
}

.secondBarMyProfile img {
    cursor: pointer;
}

.secondBar {
    margin-inline: 1.5rem;
    border-bottom: 1px solid #f0f4fc;
}

.myProfile {
    padding-right: 4px;
    font-size: 0.8rem;
    line-height: 15.6px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #8193b3;
}

.largeRight,
.largeLeft {
    gap: 2rem;
}

.telephone {
    color: inherit;
    text-decoration: none;
    margin-bottom: 10.5rem;
    letter-spacing: 0.07rem;
}

.modalButton {
    margin-top: 0.1rem;
}

.smallFirstBar {
    padding: 0.5rem 1rem;
}

.smallFirstBarRightIcons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.smallFirstBarRightIcons img {
    cursor: pointer;
    scale: 0.9;
}

.smallSecondBar {
    margin-left: 1rem;
}

.smallFirstBarScrolling {
    box-shadow: 0 4px 8px 0 rgba(34, 60, 80, .2);
}

.slidingNavList {
    touch-action: none;
    min-width: 27rem;
    padding-right: 1rem;
    position: relative;
}