.toggle {
    max-width: 25rem;
    display: flex;
    justify-content: center;
    margin: 0.8rem 0 3rem 0;
    padding: 0;
    border-radius: 1.7rem;
    border: 1px solid #e1e9fc;
}

.heading {
    font-family: 'Lato Light', sans-serif;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #a6acb4;
    letter-spacing: .1rem;
    font-weight: 600;
    text-align: left;
}

.button {
    width: 12.5rem;
    height: 3.5rem;
}