.line {
    min-width: 60px;
    flex: 1;
}

.withMargin {
    margin: 2rem 1.8rem;
}

.done {
    background-color: #288DE6;
}

.active {
    background: linear-gradient(90deg, rgb(47, 126, 235) 0%, rgb(1, 238, 200) 100%);
}

.empty {
    background-color: #CED4E0;
}