.mainBar,
.popupTopBar,
.back,
.popupBackIcon,
.open,
.childArrow,
.popupClose {
    display: flex;
    align-items: center;
}

.mainBar,
.popupTopBar,
.back,
.childBlock {
    min-height: 3rem;
}

.mainBar,
.popupTopBar {
    justify-content: space-between;
    color: #545a66;
    border-bottom: 1px solid #f0f4fc;
    cursor: pointer;
}

.mainBar {
    margin: 0 1rem;
}

.popupTopBar {
    padding: 0 1rem;
}

.open,
.childArrow {
    transform: rotate(180deg);
    opacity: 0.5;
}

.open {
    margin-right: 0.5rem;
}

.popup {
    position: absolute;
    background-color: white;
    z-index: 2000;
    top: -3.06rem;
    left: 0;
    height: 100vh;
    width: 100%;
}

.popupBackText {
    text-transform: uppercase;
    margin-left: 0.7rem;
    font-size: 0.8rem;
}

.childList {
    margin: 0 2rem;
}

.childBlock {
    border-bottom: 1px solid #f0f4fc;
    cursor: pointer;
    position: relative;
}

.child {
    flex-grow: 1;
    height: 100%;
}

.childArrow {
    position: absolute;
    top: 50%;
    left: calc(100% - 0.5rem);
    transform: translate(-50%, -50%) rotate(180deg);
}