.input {
    display: none;
}

.label {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    color: #545a66;
    font-size: 0.9rem;
}

.labelRightAligned {
    justify-content: space-between;
}

.checked {
    color: #288de6;
}

.noPointer {
    cursor: default;
}

.content,
.button {
    cursor: pointer;
}