.bottomBar {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 11;
    height: 2.5rem;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    white-space: pre;
    color: white;
    background: linear-gradient(90deg, #2f7eeb, #01eec8);
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: 'Lato Bold', 'sans-serif';
}

@media (max-width: 1200px) {
    .bottomBar {
        display: block;
    }
}