.navigation {
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(194, 197, 226);
}

.navigation ul {
    margin-top: 0;
    display: flex;
    list-style: none;
}

.navigation li {
    margin-top: 0;
    margin-bottom: 0;
    padding: 4px;
}


.navigation a {
    text-decoration: none;
}

.navigation a:active {
    color: inherit;
}

.navigation a:visited {
    color: inherit;
}