.times {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    gap: 0.6rem;
}

.clinic {
    font-size: 0.9rem;
    padding-bottom: 0.6rem;
}

.time {
    margin-bottom: 0.6rem;
    padding: 1.1rem 0.7rem;
    border: 1px solid #E3E9FC;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    color: #545a66;
    font-weight: 400;
    cursor: pointer;
    /* Disable selection */
    -moz-user-select: none;
    /* firefox */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE*/
    user-select: none;
    /* Standard syntax */
}

.time:hover {
    color: white;
    background:
        linear-gradient(90deg, rgb(47, 126, 235) 0%, rgb(24, 190, 231) 100%)
}

@media (min-width: 1000px) {
    .times {
        flex-wrap: wrap;
    }
}